/*
Luna
Based on the Ponyhoof theme
juju2143
1
*/

body {
	background: #2c4762 url('//hoof.little.my/files/luna/login3.jpg') fixed center;
}

#content {
	background: rgba(44,71,98,0);
}

.post {
	background: rgba(255,255,255,0.9) !important;
}

.post_content {
	background: transparent !important;
}

.post_footer {
	background: transparent !important;
}

#right_column:after {
	background-image: url('//hoof.little.my/files/luna/newsfeed2.png') !important;
	height: 161px;
	-moz-background-size: 215px 161px;
	background-size: 215px 161px;
}

.controls_section,.radar {
	background: rgba(44,71,98,0.8);
	border-radius: 6px;
}

.post_avatar_link {
	background-color: transparent;
}

.notification
{
	background: rgba(44,71,98,0.8);
}

.notification:hover
{
	background: rgba(44,71,98,0.9);
}

.first_notification
{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.last_notification
{
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.tab_notice
{
	background: #3023d9 !important;
}